.App {
  text-align: center;
}

/* body {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
} */

.navbar {
  position: fixed;
  top: 0;
  text-align: left;
  width: 100%;
}

.navbar > .active {
  border-bottom: 1px solid black;
}
